<mat-drawer-container class="container" autosize>
  <mat-drawer [opened]="opened$ | async">
    <a [class.focus]="(selection$ | async) === 'home'" #home routerLink="home">Home</a>
    <a [class.focus]="(selection$ | async) === 'about'" #about routerLink="about">About</a>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<video style="display: none" #video width="640" height="480" autoplay [srcObject]="stream"></video>
<canvas #canvas width="640" height="480"></canvas>
